# main configuration file for imbot
# should be placed out side the imbot package

configpath  :  /tmp/imbottest/conf

# e-mail lists and configurations
# -------------------------------
mailinglist  :  /tmp/imbottest/conf/mailinglist.cfg
minuterefereepath  :  /tmp/imbottest/conf/refereelist_minute.cfg
secondrefereepath  :  /tmp/imbottest/conf/refereelist_second.cfg
minutefallback   :  Maxi Musti:maxi@example.com
sysadmin  :  Roman Leonhardt:imbot@conrad-observatory.at
memory_mail  :  /tmp/imbottest/memory/memory_email.json

# notifications (use magpys addcred to create credentials)
# -------------------------------
telegramconfig   :   /tmp/imbottest/conf/imbot_telegram.cfg
emailcredentials  :  immail

# analysis methods
# -------------------------------
winepath   :   /home/leon/.wine/drive_c

# analysis memory
# -------------------------------
memory_directory_analysis  :  /tmp/imbottest/memory/memory_directory_analysis.json

# temporary folder to unpack step1 second data and hold raw step3 minute data
# -------------------------------
# local step2 folder to which all results are written:
# self.step2folder = os.path.join(step2folder, year, obscode)
# should be changed to second_step2
# temporary_dir  will hold the temporary folders of unpacked step1 data
second_local_step2  :  /tmp/imbottest/second/step2
temporary_dir  :   /tmpp/imbottest
minute_local_step3  :  /srv/imbot/minute/step3raw


# local folders with step1, step2 and step3 data
# -------------------------------
# wget (one way)
minute_step1  :  /srv/imbot/minute/step1
# wget (one way)
minute_step2  :  /srv/imbot/minute/step2
# filled by methods.convert_to_step_dir from step3raw
minute_step3  :  /srv/imbot/minute/step3
# wget (one way)
second_step1  :  /srv/imbot/second/step1
# mount and rsync - to be defined and described
second_step2  :  /srv/imbot/second/step2