# Referees list - responsibilities for Observatories
mona.musterfrau@mail.world  :  name: Mona Musterfrau; obslist: WIC,BOU

# Specific assignments - will override general responsibilities
special1   :   name: Joe Doe; year: 2022; email: john.doe@example.com; obslist: XYZ,ZYX
special2   :   name: Joe Doe; year: 2021; email: john.doe@example.com; obslist: XYZ

# Remaining Observatories or New ones are send to
#max.mustermann@mail.world  :  name: Max Mustermann
