# main configuration file for imbot
# should be placed out side the imbot package

configpath  :  /tmp/imbottest/conf

mailinglist  :  /tmp/imbottest/conf/mailinglist.cfg
minuterefereepath  :  /tmp/imbottest/conf/refereelist_minute.cfg
secondrefereepath  :  /tmp/imbottest/conf/refereelist_second.cfg
minutefallback   :  Maxi Musti:maxi@example.com
sysadmin  :  Roman Leonhardt:ro.test
memory_mail  :  /tmp/imbottest/memory/memory_email.json
memory_directory_analysis  :  /tmp/imbottest/memory/memory_directory_analysis.json
second_local_step2  :  /tmp/imbottest/second/step2/
